USE [DemoERP]
GO
/****** Object:  StoredProcedure [dbo].[usp_InsertCustomer]    Script Date: 6/22/2026 2:09:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[usp_InsertCustomer]
(
    @CRMCustomerID VARCHAR(30),
    @FirstName     VARCHAR(50),
    @LastName      VARCHAR(50),
    @Email         VARCHAR(100),
    @Phone         VARCHAR(20)
)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM Customer WHERE CRMCustomerID = @CRMCustomerID)
    BEGIN
        INSERT INTO SyncLog (CRMCustomerID, Status, Message, LogDate)
        VALUES (@CRMCustomerID, 'Skipped', 'Already Exists', GETDATE());

        RETURN;
    END

    INSERT INTO Customer
    (
        CRMCustomerID, FirstName, LastName, Email, Phone, LastUpdated
    )
    VALUES
    (
        @CRMCustomerID, @FirstName, @LastName, @Email, @Phone, GETDATE()
    );

    INSERT INTO SyncLog (CRMCustomerID, Status, Message, LogDate)
    VALUES (@CRMCustomerID, 'Success', 'Inserted', GETDATE());
END